.light-shadow-about {
    -webkit-box-shadow: 0px 1px 15px 1px rgba(35, 215, 221, 0.76);
    box-shadow: 0px 1px 8px 1px rgba(16, 185, 228, 0.76);
}

.text-left-style p {
    text-align: start !important;
}